@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --font--poppins: "Poppins",Helvetica,sans-serif;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.29 0.13 274.2);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(75.351% 0.09157 246.293);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-poppins;
    
  }
}

@layer components {

  /* hero section */
  .hero-section-title {
    @apply text-4xl font-bold tracking-tight sm:text-6xl lg:text-7xl;
  }
  .hero-section-title-gradient {
    @apply bg-linear-to-r from-slate-900 via-blue-900 to-slate-900 dark:from-white dark:via-blue-100 dark:to-white bg-clip-text text-transparent;
  }
  .hero-section-subtitle {
    @apply block text-secondary;
  }
  .hero-section-description {
    @apply mt-6 max-w-2xl mx-auto text-lg sm:text-xl text-muted-foreground leading-relaxed;
  }
  .hero-section-description-highlight {
    @apply text-foreground font-medium;
  }

 /* features section */
  .feature-section {
    @apply py-20 sm:py-32;
  }
  .feature-section-container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .feature-section-header {
    @apply text-center mb-16;
  }
  .feature-section-title {
    @apply text-3xl font-bold tracking-tight sm:text-4xl mb-4;
  }
  .feature-section-description {
    @apply text-lg text-muted-foreground max-w-2xl mx-auto;
  }
  .feature-grid {
    @apply grid md:grid-cols-2 gap-8 lg:gap-12;
  }
  .feature-card {
    @apply relative overflow-hidden border-2 transition-all duration-300 ;
  }
  .feature-card-starter {
    @apply border-blue-200 dark:border-blue-800 hover:border-blue-400 dark:hover:border-blue-600 hover:shadow-xl hover:shadow-blue-500/10 bg-linear-to-br from-blue-50/50 to-cyan-50/50 dark:from-blue-950/50 dark:to-cyan-950/50;
  }
  .feature-card-pro {
    @apply border-purple-300 dark:border-purple-700 hover:border-purple-500 dark:hover:border-purple-500 hover:shadow-2xl hover:shadow-purple-500/20 bg-linear-to-br from-purple-50/80 via-pink-50/80 to-orange-50/80 dark:from-purple-950/80 dark:via-pink-950/80 dark:to-orange-950/80;
  }
  .feature-card-icon-wrapper {
    @apply p-2 rounded-lg text-white;
  }
  .feature-card-icon-starter {
    @apply bg-linear-to-br from-blue-500 to-cyan-500;
  }
  .feature-card-icon-pro {
    @apply bg-linear-to-br from-purple-600 via-pink-600 to-orange-500;
  }
  .feature-card-badge-starter {
    @apply bg-blue-100 text-blue-700 hover:bg-blue-200 dark:bg-blue-900 dark:text-blue-300;
  }
  .feature-card-badge-pro {
    @apply bg-linear-to-r from-purple-100 to-pink-100 text-purple-700 group-hover:from-purple-200 group-hover:to-pink-200 dark:from-purple-900 dark:to-pink-900 dark:text-purple-300 border-0;
  }
  .feature-card-list-item {
    @apply flex items-center gap-2 text-sm;
  }
  .feature-card-list-icon {
    @apply w-4 h-4 text-green-600;
  }

  .cl-pricingTableCardFooterButton{
    @apply bg-linear-to-r from-blue-600 to-cyan-600 hover:from-blue-700 hover:to-cyan-700 
  }

  /* Report form Section */
  .report-form {
    @apply relative overflow-hidden border-0 shadow-2xl bg-linear-to-br from-blue-50/80 via-purple-50/80 to-pink-50/80 dark:from-blue-950/50 dark:via-purple-950/50 dark:to-pink-950/50 backdrop-blur-sm;
  }
  .report-form-decoration1 {
    @apply absolute top-0 right-0 w-40 h-40 rounded-full -translate-y-20 translate-x-20 bg-linear-to-br from-primary/70 via-secondary/10 to-primary/5;
  }
  .report-form-decoration2 {
    @apply absolute bottom-0 left-0 w-32 h-32 rounded-full translate-y-16 -translate-x-16 bg-linear-to-tr from-secondary/85 to-primary/10;
  }

  .report-form-header-content {
    @apply flex items-center justify-center gap-3 mb-3;
  }
  .report-form-icon-wrapper {
    @apply p-2 rounded-xl text-white shadow-lg bg-linear-to-br from-primary to-secondary;
  }
  .report-form-title {
    @apply text-3xl font-bold bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
  .report-form-description {
    @apply text-lg text-muted-foreground max-w-2xl mx-auto leading-relaxed;
  }

  .report-form-file-icon {
    @apply absolute left-4 top-1/2 transform -translate-y-1/2 p-1 rounded-md bg-blue-100 z-10;
  }

  .report-form-input {
    @apply pl-14! h-14! text-base ring-1 ring-secondary focus:!ring-2 outline-0! border-none! focus:!ring-secondary  bg-white/80 backdrop-blur-sm shadow-sm w-full;
  }
  .report-form-button {
    @apply !h-14 px-6 md:px-8 bg-linear-to-r from-primary  to-secondary border-0 shadow-lg hover:shadow-xl hover:shadow-purple-500/25 transition-all duration-300  font-semibold w-full md:w-auto;
  }

}
